.fa-icon-pointer-events {
  pointer-events: auto;
}

.fa-icon-intext {
  --width: 1.25em;
  --height: 1em;
  height: var(--height);
  width: var(--width);
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(-0.1em);
  align-items: center;
  justify-content: center;

  :where(.fa-icon) {
    height: var(--height);
    width: var(--width);
  }
}
