.fa-icon-ul {
  list-style-type: none;
  margin-left: var(--fa-icon-li-margin, 2.5em);
  padding-left: 0;

  :where(.fa-icon-li) {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-inline-start: -0.5em;
    margin-inline-end: 0.5em;
    transform: translateY(0.1em);
  }
}
