@property --minHeight { syntax: "*"; inherits: false;}
@property --opacity { syntax: "*"; inherits: false;}
@property --transform { syntax: "*"; inherits: false;}
@property --maxHeight { syntax: "*"; inherits: false;}
@property --paddingRight { syntax: "*"; inherits: false;}
@property --textAlign { syntax: "*"; inherits: false;}
.fontawesome-1d1d8sr{--dialog-max-height:calc(100vh - var(--spacing-GoldenUnit) * 2)}
.fontawesome-meyex9{--dialog-max-height:calc(100vh - var(--spacing-GoldenUnit))}
.fontawesome-1wq08gs{--dialog-max-width:calc(100vw - var(--spacing-GoldenUnit))}
.fontawesome-tkilqk{--dialog-total-max-height:calc(100vh - var(--spacing-GoldenUnit))}
.fontawesome-1qqbh8n{--grid-min-col-size:140px}
@keyframes fontawesome-yj4wzm-B{from{background:rgb(0 0 0 / 0%);backdrop-filter:blur(0px);}to{background:rgb(0 0 0 / 80%);backdrop-filter:blur(1px);}}
@keyframes fontawesome-1rtyk12-B{from{opacity:0;transform:scale(.9);}}
.fontawesome-1berqfj:not(#\#){animation:fontawesome-1rtyk12-B var(--transition-Default) ease-in-out}
.fontawesome-1oua5b1:not(#\#){background:color-mix(in srgb,var(--colors-ContrastDarker),transparent 30%)}
.fontawesome-1md70p1:not(#\#){background:transparent}
.fontawesome-kcvqor:not(#\#){background:var(--colors-ContrastBrightest)}
.fontawesome-978ut8:not(#\#){background:var(--colors-ContrastDarker)}
.fontawesome-12t7z44:not(#\#){background:var(--colors-ContrastNeutral)}
.fontawesome-1wty727:not(#\#){border:0}
.fontawesome-1gs6z28:not(#\#){border:none}
.fontawesome-1fdo2jl:not(#\#){grid-area:content}
.fontawesome-d3rg8h:not(#\#){grid-template:'content' 1fr / 1fr}
.fontawesome-1howtuk:not(#\#){grid-template:"content" 1fr / 1fr}
.fontawesome-10a8y8t:not(#\#){inset:0}
.fontawesome-kdpibf:not(#\#){margin:-1px}
.fontawesome-19bbpc0:not(#\#){margin:0 auto}
.fontawesome-1ghz6dp:not(#\#){margin:0}
.fontawesome-1t8ecn8:not(#\#){padding:0 14px 0 0}
.fontawesome-1717udv:not(#\#){padding:0}
.fontawesome-1i724xb:not(#\#){padding:var(--spacing-Full)}
.fontawesome-zl2d5g:not(#\#){padding:var(--spacing-GoldenUnit)}
.fontawesome-1n2vv5a:not(#\#){padding:var(--spacing-Half) var(--spacing-Full) var(--spacing-Half) var(--spacing-Quarter)}
.fontawesome-dvj9l3:not(#\#){padding:var(--spacing-Quarter)}
.fontawesome-zysvlj:is(*) > *:not(#\#){grid-area:content}
.fontawesome-cns5ij:not(#\#):not(#\#){border-bottom:1px solid var(--colors-ContrastDark)}
.fontawesome-1cum3z5:not(#\#):not(#\#){border-radius:2px}
.fontawesome-ur7f20:not(#\#):not(#\#){border-radius:8px}
.fontawesome-c342km:not(#\#):not(#\#){border-width:0}
.fontawesome-1j08gr6:not(#\#):not(#\#){gap:var(--spacing-Full)}
.fontawesome-b3v2qn:not(#\#):not(#\#){gap:var(--spacing-GoldenUnit)}
.fontawesome-1iv4zvh:not(#\#):not(#\#){gap:var(--spacing-Half)}
.fontawesome-1xye2hm:not(#\#):not(#\#){gap:var(--spacing-Quarter)}
.fontawesome-623te4:not(#\#):not(#\#){grid-column:span 2}
.fontawesome-vueqy4:not(#\#):not(#\#){margin-inline:auto}
.fontawesome-1adcm47:not(#\#):not(#\#){margin-inline:calc(var(--spacing-Full) * -1)}
.fontawesome-us49la:not(#\#):not(#\#){outline:2px solid var(--colors-Warn)}
.fontawesome-1a2a7pz:not(#\#):not(#\#){outline:none}
.fontawesome-ysyzu8:not(#\#):not(#\#){overflow:auto}
.fontawesome-7giv3:not(#\#):not(#\#){overflow:clip}
.fontawesome-b3r6kr:not(#\#):not(#\#){overflow:hidden}
.fontawesome-1algulf:not(#\#):not(#\#){overflow:scroll}
.fontawesome-1rea2x4:not(#\#):not(#\#){overflow:visible}
.fontawesome-t970qd:not(#\#):not(#\#){padding-block:0}
.fontawesome-8n0ik8:not(#\#):not(#\#){padding-inline:var(--spacing-Full)}
.fontawesome-una7cl:not(#\#):not(#\#){padding-inline:var(--spacing-Quarter)}
.fontawesome-rbhpiw:not(#\#):not(#\#){transition:background-color .2s ease-in-out}
.fontawesome-1qc4xnq:not(#\#):not(#\#){transition:background-color var(--transition-Default) ease-in-out,color var(--transition-Default) ease-in-out}
.fontawesome-c8avi6:not(#\#):not(#\#){transition:opacity var(--transition-Default),transform var(--transition-Default) ease}
.fontawesome-1curdr6:where(:hover,:focus):not(#\#):not(#\#){outline:0}
.fontawesome-kwbyna:focus-visible:not(#\#):not(#\#){outline:0}
.fontawesome-6s0dn4:not(#\#):not(#\#):not(#\#){align-items:center}
.fontawesome-jyslct:not(#\#):not(#\#):not(#\#){appearance:none}
.fontawesome-1plog1:not(#\#):not(#\#):not(#\#){aspect-ratio:1}
.fontawesome-1fsi4cc:not(#\#):not(#\#):not(#\#){aspect-ratio:2}
.fontawesome-1vf6whn:not(#\#):not(#\#):not(#\#){aspect-ratio:3}
.fontawesome-1ydx4q1:not(#\#):not(#\#):not(#\#){backdrop-filter:blur(6px)}
.fontawesome-12g9wsq:not(#\#):not(#\#):not(#\#){background-color:var(--colors-ContrastNeutral)}
html:not([dir='rtl']) .fontawesome-1s7xzt0:not(#\#):not(#\#):not(#\#){box-shadow:0 0 0 2px var(--colors-ContrastDark),0 20px 40px #0006}
html[dir='rtl'] .fontawesome-1s7xzt0:not(#\#):not(#\#):not(#\#){box-shadow:0 0 0 2px var(--colors-ContrastDark), 0 20px 40px #0006}
.fontawesome-qjettg:not(#\#):not(#\#):not(#\#){box-shadow:0 0 0 2px var(--colors-Warn)}
.fontawesome-zpqnlu:not(#\#):not(#\#):not(#\#){clip:rect(0,0,0,0)}
.fontawesome-1heor9g:not(#\#):not(#\#):not(#\#){color:inherit}
.fontawesome-slwxmh:not(#\#):not(#\#):not(#\#){color:var(--colors-ContrastBrighter)}
.fontawesome-189eng2:not(#\#):not(#\#):not(#\#){color:var(--colors-ContrastBrightest)}
.fontawesome-1cosvjk:not(#\#):not(#\#):not(#\#){color:var(--colors-ContrastDarkest)}
.fontawesome-1h6gzvc:not(#\#):not(#\#):not(#\#){cursor:not-allowed}
.fontawesome-1ypdohk:not(#\#):not(#\#):not(#\#){cursor:pointer}
.fontawesome-1ed109x:not(#\#):not(#\#):not(#\#){cursor:text}
.fontawesome-1lliihq:not(#\#):not(#\#):not(#\#){display:block}
.fontawesome-78zum5:not(#\#):not(#\#):not(#\#){display:flex}
.fontawesome-rvj5dj:not(#\#):not(#\#):not(#\#){display:grid}
.fontawesome-1s85apg:not(#\#):not(#\#):not(#\#){display:none}
.fontawesome-117rol3:not(#\#):not(#\#):not(#\#){fill:currentColor}
.fontawesome-dt5ytf:not(#\#):not(#\#):not(#\#){flex-direction:column}
.fontawesome-15zctf7:not(#\#):not(#\#):not(#\#){flex-direction:row-reverse}
.fontawesome-wsyq91:not(#\#):not(#\#):not(#\#){font-size:20px}
.fontawesome-1qlqyl8:not(#\#):not(#\#):not(#\#){font-size:inherit}
.fontawesome-k07rqz:not(#\#):not(#\#):not(#\#){font-size:var(--fontSize-Base)}
.fontawesome-8cklmd:not(#\#):not(#\#):not(#\#){font-size:var(--fontSize-Small)}
.fontawesome-1mt1orb:not(#\#):not(#\#):not(#\#){grid-auto-flow:column}
.fontawesome-kb5s27:not(#\#):not(#\#):not(#\#){grid-template-columns:200px minmax(0,1fr)}
.fontawesome-kcjl4x:not(#\#):not(#\#):not(#\#){grid-template-columns:30px minmax(0,1fr)}
.fontawesome-13djwik:not(#\#):not(#\#):not(#\#){grid-template-columns:80px minmax(0,1fr)}
.fontawesome-1utgboa:not(#\#):not(#\#):not(#\#){grid-template-columns:calc(var(--spacing-GoldenUnit) - var(--spacing-Half)) minmax(0,1fr)}
.fontawesome-1al454x:not(#\#):not(#\#):not(#\#){grid-template-columns:minmax(0,1fr) 30px}
.fontawesome-1beh7me:not(#\#):not(#\#):not(#\#){grid-template-columns:repeat(auto-fill,minmax(min(var(--grid-min-col-size),100%),1fr))}
.fontawesome-1bo5odz:not(#\#):not(#\#):not(#\#){grid-template-rows:auto}
.fontawesome-l56j7k:not(#\#):not(#\#):not(#\#){justify-content:center}
.fontawesome-7v6yn8:not(#\#):not(#\#):not(#\#){justify-content:end}
.fontawesome-1l1ennw:not(#\#):not(#\#):not(#\#){justify-content:space-around}
.fontawesome-1qughib:not(#\#):not(#\#):not(#\#){justify-content:space-between}
.fontawesome-lqzeqv:not(#\#):not(#\#):not(#\#){justify-content:start}
.fontawesome-1o2pa38:not(#\#):not(#\#):not(#\#){justify-items:center}
.fontawesome-1u7k74:not(#\#):not(#\#):not(#\#){line-height:1.2}
.fontawesome-19kjcj4:not(#\#):not(#\#):not(#\#){object-fit:contain}
.fontawesome-uzhngd:not(#\#):not(#\#):not(#\#){opacity:.3}
.fontawesome-190dgpg:not(#\#):not(#\#):not(#\#){opacity:.65}
.fontawesome-1us6l5c:not(#\#):not(#\#):not(#\#){opacity:.8}
.fontawesome-a0d40w:not(#\#):not(#\#):not(#\#){opacity:var(--opacity)}
.fontawesome-1hl8ikr:not(#\#):not(#\#):not(#\#){outline-offset:2px}
.fontawesome-47corl:not(#\#):not(#\#):not(#\#){pointer-events:none}
.fontawesome-j8z8mm:not(#\#):not(#\#):not(#\#){position:absolute!important}
.fontawesome-10l6tqk:not(#\#):not(#\#):not(#\#){position:absolute}
.fontawesome-ixxii4:not(#\#):not(#\#):not(#\#){position:fixed}
.fontawesome-7wzq59:not(#\#):not(#\#):not(#\#){position:sticky}
.fontawesome-2b8uid:not(#\#):not(#\#):not(#\#){text-align:center}
.fontawesome-dpxx8g:not(#\#):not(#\#):not(#\#){text-align:left}
.fontawesome-1pl60t9:not(#\#):not(#\#):not(#\#){text-align:var(--textAlign)}
.fontawesome-tvhhri:not(#\#):not(#\#):not(#\#){text-transform:uppercase}
.fontawesome-1uosm7l:not(#\#):not(#\#):not(#\#){transform:var(--transform)}
.fontawesome-87ps6o:not(#\#):not(#\#):not(#\#){user-select:none}
.fontawesome-uxw1ft:not(#\#):not(#\#):not(#\#){white-space:nowrap}
.fontawesome-1vjfegm:not(#\#):not(#\#):not(#\#){z-index:1}
.fontawesome-fo81ep:not(#\#):not(#\#):not(#\#){z-index:1000}
.fontawesome-htitgo:not(#\#):not(#\#):not(#\#){z-index:2}
.fontawesome-na0wu8:is(:hover,:focus-visible):not(#\#):not(#\#):not(#\#){background-color:var(--colors-PrimaryBlue)}
html:not([dir='rtl']) .fontawesome-1p9coah:focus-visible:not(#\#):not(#\#):not(#\#){box-shadow:-14px 0 0 0 var(--colors-ContrastNeutral),-14px 0 0 1px var(--colors-PrimaryBlue),0 0 0 1px var(--colors-PrimaryBlue)}
html[dir='rtl'] .fontawesome-1p9coah:focus-visible:not(#\#):not(#\#):not(#\#){box-shadow:14px 0 0 0 var(--colors-ContrastNeutral), 14px 0 0 1px var(--colors-PrimaryBlue), 0 0 0 1px var(--colors-PrimaryBlue)}
.fontawesome-dnrdwn:is(*) .neos-svg-inline--fa:not(#\#):not(#\#):not(#\#){color:currentColor}
.fontawesome-1yasepr:focus-visible:not(#\#):not(#\#):not(#\#){color:inherit!important}
.fontawesome-h69yu8:is(:hover,:focus-visible):not(#\#):not(#\#):not(#\#){color:var(--colors-ContrastBrightest)}
.fontawesome-1sv5n3t:where(:hover,:focus):not(#\#):not(#\#):not(#\#){color:var(--colors-PrimaryBlue)!important}
.fontawesome-1556jic:is(*) > div:not(#\#):not(#\#):not(#\#){cursor:grab}
.fontawesome-13ym7vg:is(*) > div:active:not(#\#):not(#\#):not(#\#){cursor:grabbing}
.fontawesome-vszx66:where(*)>*:not(#\#):not(#\#):not(#\#){pointer-events:none}
.fontawesome-jl7jj:empty:not(#\#):not(#\#):not(#\#){display:none}
.fontawesome-esag6j:disabled:not(#\#):not(#\#):not(#\#){background-color:var(--colors-ContrastNeutral)!important}
.fontawesome-1s07b3s:disabled:not(#\#):not(#\#):not(#\#){cursor:not-allowed}
.fontawesome-3nkca4:disabled:not(#\#):not(#\#):not(#\#){opacity:.8}
.fontawesome-1ey2m1c:not(#\#):not(#\#):not(#\#):not(#\#){bottom:0}
.fontawesome-jm9jq1:not(#\#):not(#\#):not(#\#):not(#\#){height:1px}
.fontawesome-t7dq6l:not(#\#):not(#\#):not(#\#):not(#\#){height:auto}
.fontawesome-1ik11vf:not(#\#):not(#\#):not(#\#):not(#\#){height:calc(var(--spacing-GoldenUnit) - var(--spacing-Full))}
.fontawesome-1i66d86:not(#\#):not(#\#):not(#\#):not(#\#){height:var(--spacing-GoldenUnit)}
.fontawesome-u96u03:not(#\#):not(#\#):not(#\#):not(#\#){left:0}
.fontawesome-19jvx1u:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:calc(var(--spacing-Full) * -1)}
.fontawesome-chvge2:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:calc(var(--spacing-GoldenUnit) * 2)}
.fontawesome-17s0y6e:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:var(--spacing-Full)}
.fontawesome-783jhb:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:var(--spacing-Half)}
.fontawesome-adln40:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:var(--spacing-Quarter)}
.fontawesome-11kc5p8:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:calc(var(--spacing-GoldenUnit) / 2)}
.fontawesome-14apznb:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:var(--spacing-Half)}
.fontawesome-uhfmll:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:var(--spacing-Quarter)}
.fontawesome-18wx58x:not(#\#):not(#\#):not(#\#):not(#\#){max-height:40px}
.fontawesome-14fk63r:not(#\#):not(#\#):not(#\#):not(#\#){max-height:var(--dialog-max-height)}
.fontawesome-1ywdhnv:not(#\#):not(#\#):not(#\#):not(#\#){max-height:var(--dialog-total-max-height)}
.fontawesome-1kb659o:not(#\#):not(#\#):not(#\#):not(#\#){max-height:var(--maxHeight)}
.fontawesome-1ncir08:not(#\#):not(#\#):not(#\#):not(#\#){max-width:200px}
.fontawesome-12fk1ku:not(#\#):not(#\#):not(#\#):not(#\#){max-width:660px}
.fontawesome-lqqome:not(#\#):not(#\#):not(#\#):not(#\#){max-width:calc(8 * var(--spacing-Full) + 9 * 200px)}
.fontawesome-a3dg91:not(#\#):not(#\#):not(#\#):not(#\#){max-width:var(--dialog-max-width)}
.fontawesome-1cy360x:not(#\#):not(#\#):not(#\#):not(#\#){min-height:3em}
.fontawesome-1ba4aug:not(#\#):not(#\#):not(#\#):not(#\#){min-height:40px}
.fontawesome-19twdis:not(#\#):not(#\#):not(#\#):not(#\#){min-height:var(--dialog-max-height)}
.fontawesome-5d3rt4:not(#\#):not(#\#):not(#\#):not(#\#){min-height:var(--dialog-total-max-height)}
.fontawesome-bhpgbg:not(#\#):not(#\#):not(#\#):not(#\#){min-height:var(--minHeight)}
.fontawesome-rugqim:not(#\#):not(#\#):not(#\#):not(#\#){min-height:var(--spacing-GoldenUnit)}
.fontawesome-mj3umr:not(#\#):not(#\#):not(#\#):not(#\#){min-width:520px}
.fontawesome-1eb6fiy:not(#\#):not(#\#):not(#\#):not(#\#){min-width:var(--dialog-max-width)}
.fontawesome-anjte:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:var(--fontSize-Base)}
.fontawesome-2kegb5:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:var(--spacing-Full)}
.fontawesome-1yahwj7:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:calc(var(--spacing-Full) + var(--spacing-GoldenUnit))}
.fontawesome-1hb41fa:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:var(--paddingRight)}
.fontawesome-1mhxbyh:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:calc(var(--spacing-GoldenUnit) / 2)}
.fontawesome-1aelfg4:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:var(--spacing-Full)}
.fontawesome-3m8u43:not(#\#):not(#\#):not(#\#):not(#\#){right:0}
.fontawesome-13vifvy:not(#\#):not(#\#):not(#\#):not(#\#){top:0}
.fontawesome-q3eicc:not(#\#):not(#\#):not(#\#):not(#\#){top:108px}
.fontawesome-h8yej3:not(#\#):not(#\#):not(#\#):not(#\#){width:100%}
.fontawesome-1i1rx1s:not(#\#):not(#\#):not(#\#):not(#\#){width:1px}
.fontawesome-1wo3ecs:where([open]):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::backdrop{animation:fontawesome-yj4wzm-B .3s ease-out forwards}